<section class="events-container">

    <div class = "eventsListTitle">
      <h1>Character Events List</h1>
    </div>

    <div class = "eventsLisCharacterNameTitle">
        <h1>Character Name</h1>
        {{currentCharacterName}}
        <br>
        <br>
     </div>

      <div class="eventList">
        <h1>Events</h1>
        <div *ngIf="(marvelStore.events$| async)?.length=== 0">No events found for the character specified.</div>
      <ul >
        <li *ngFor="let event of marvelStore.events$ | async">
            {{event.title}}
        </li>
    
      </ul>
    </div>

    <div class = "linkBackCharacterDetailList">
        <br>
        <a [routerLink]="['/character-detail-route/', id]" routerLinkActive = "active">
            Back to Character Detail
            </a>
        <br>
        <br>
    </div>
      
    </section>