<section class="series-container">

    <div class = "seriesListTitle">
      <h1>Character Series List</h1>
    </div>

    <div class = "seriesLisCharacterNameTitle">
        <h1>Character Name</h1>
        {{currentCharacterName}}
        <br>
        <br>
     </div>

   <div class="seriesList">
    <h1>Series</h1>

     <div *ngIf="!series"> 
        Loading.... 
     </div>


     <div *ngIf="series"> 

      <div *ngIf="series.data.results.length === 0">
         No Series
      </div>   
      <ul >
        <li *ngFor="let serie of series.data.results">
            {{serie.title}}
        </li>
    
      </ul>
     </div> 
    </div>

    <div class = "linkBackCharacterDetailList">
        <br>
        <a [routerLink]="['/character-detail-route/', id]" routerLinkActive = "active">
            Back to Character Detail
         </a>
        <br>
        <br>
    </div>
      
    </section>