<section class="comics-container">

    <div class = "comicsListTitle">
      <h1>Character Stories List</h1>
    </div>

    <div class = "comicsLisCharacterNameTitle">
        <h1>Character Name</h1>
        {{currentCharacterName}}
        <br>
        <br>
     </div>

     <div *ngIf="!stories"> 
        Loading.... 
     </div>


     <div class="eventList">
       <h1>Stories</h1>
       <div *ngIf="stories">   
         
        <div *ngIf="stories.data.results.length === 0">
          No Stories
         </div>  

        <ul >
        <li *ngFor="let storie of stories.data.results">
            {{storie.title}}
        </li>
    
      </ul>
     </div> 
    </div>

    <div class = "linkBackCharacterDetailList">
        <br>
        <a [routerLink]="['/character-detail-route/', id]" routerLinkActive = "active">
            Back to Character Detail
         </a>
        <br>
        <br>
    </div>
      
    </section>