<section class="comics-container">

    <div class = "comicsListTitle">
      <h1>Character Comics List</h1>
    </div>

    <div class = "comicsLisCharacterNameTitle">
        <h1>Character Name</h1>
        {{currentCharacterName}}
        <br>
        <br>
     </div>

      <div class="eventList">
        <h1>Comics</h1>


        <div *ngIf="!comics"> 
          Loading.... 
       </div>

     <div *ngIf="comics"> 
      <div *ngIf="comics.data.results.length === 0">
        No Series
     </div>   
      
      <ul >
        <li *ngFor="let comic of comics.data.results">
            {{comic.title}}
            <a [routerLink]="['/comics-character-route/', comic.id]" routerLinkActive = "active">
              Relationship Character Comics
            </a>
        </li>
    
      </ul>
     </div> 
    </div>

    <div class = "linkBackCharacterDetailList">
        <br>
        <a [routerLink]="['/character-detail-route/', id]" routerLinkActive = "active">
            Back to Character Detail
            </a>
        <br>
        <br>
    </div>
      
    </section>