<section class="characters-container">

    <div class = "characterListTitle">
      <h1>Characters List</h1>
    </div>
    
      <div class="characterList">
        <br>
        Click the character name in the following list to acess its details.
      <ul >
        <li *ngFor="let character of marvelStore.characters$ | async">
          <a [routerLink]="['/character-detail-route/', character.id]" routerLinkActive = "active">
          {{character.name}}
          </a>
        </li>
    
      </ul>
    </div>
      
    </section>